* {
	font-family: Courier;
}

h1 {
	font-size: 1.75em;
}

h2,button {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

a {
	color: rgba(0,0,255,1);
}

a:hover {
	color: rgba(0,0,255,0.5);
}

#interface, footer {
	margin:auto; 
	width:50%; 
	padding: 1% 0
}

.chrome1 {
	animation: spincw .3s infinite linear;
}

@keyframes spinccw {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.chrome2 {
	animation: spinccw .3s infinite linear;
}

@keyframes spincw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
